*{
box-sizing: border-box;
}
body{
background-color: #f3f3f3;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
overflow-x: hidden;
}
.cabecalho{
    display: flex; 
    justify-content: center;
    width: 100%;  
    height: 54px;
    border:1px solid #DBDBDB;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
    overflow: hidden;
}
.menu{
width:935px;
display: flex; 
align-items: center;
justify-content: center;

}
.logos{
width: 150px;
display: flex;
align-items: center;
}
ion-icon {
    font-size:20px;
}
.separadorlogo{
    height: 22px;
    width: 1px;
    margin: 10px 0;
    background-color: black;
}
.logo{
    width: 103px;
    height: 29px;
    margin-left: 10px;
}
.menupesquisar{
    width: 215px;
    height: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: #dbdbdb;
    background-color: #FAFAFA;
    margin:0px 214px;
    display: flex;
}
.menupesquisar p{
    padding: 6px 40%;
    font-size:12px;
    color: #979797;
}
.iconeinsta{
    color: black;
    margin-left: 0%;
    margin-right:15px;
}
.icones{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.conteudo{
    margin: 0 auto;
    height: 1946px;
    width: 935px;
    display: flex;
    justify-content: center;
}
.conteudocentral{
margin-right: 30px;
width: 614px;
overflow: hidden;
}
.caixastory{
    background-color: #ffffff;
    height: 118px;
    width: 614px;
    margin-top: 88px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.seta{
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 2;
    right: 10px;
    top:35px;
    color:#FFFFFF;
    
}
.story{
width: 66px;
height: 86px;
display: flex;
flex-direction: column;
margin-left: 22px;
text-align: center;
}
.conjuntoimg{
    display: flex;
    align-items: center;
    height: 66px;
}
.imgstory{
position: absolute;
z-index: 2;
border-radius: 50%;
margin-left: 5.2px;
}
.imgfundo{
    position: absolute;
    width: 66px;
    border-radius: 50%;
}
.nome  {
    margin-top: 5px;    
    text-align: center;  
    width: 58px;
    height: 19px;
    font-size: 12px;
    color: #262626;
    font-weight: 400;
}
.negrito{
    font-weight: bold;
}
.publicacoes{
    height: 100%;
}
.post{
background-color: #FFFFFF;
height: 750px;
width: 614px;
border: 1px solid #DBDBDB;
border-radius: 3px;
margin-bottom: 60px;
}
.topopost{
height: 61px;
display: flex;
align-items: center;
}
.topopost img{
    margin-left:17px;
    margin-right: 15px;
    height: 32px;
    width: 32px;
}
.topopost p{
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    width: 109px;
    font-weight: bold;
}
.trespontos{
    margin-left: 408px;
}
.imagempost img{
    width: 612px;
    height: 612px;
    margin-bottom: 13px;
}
.fundopost{
    height: 76px;
}
.fundoicones :nth-child(1){
    margin-left: 18px;
}
.fundoicones :nth-child(2){
    margin-left: 18px;
}
.fundoicones :nth-child(3){
    margin-left: 18px;
}
.fundoicones :nth-child(4){
    margin-left: 450px;
}
.curtidasfundo{
    display: flex;
    margin-top: 10px;
}
.curtidasfundo img{
    width: 20px;
    height: 20px;
    margin-left: 18px;
}
.curtidasfundo p{
    margin-left: 5px;
}
.perfil{
    display: flex;
    height: 60px;
}
.perfil img{
    width: 56px;
    margin-right: 17px;
}
.nomeperfil{
display: flex;
flex-direction: column;
justify-content: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 14px;
} 
.nomeperfil :nth-child(1){
    font-weight: 500;
}
.nomeperfil :nth-child(2){
    color: #8E8E8E;
    font-weight: 300;
}
.caixalateral{
width: 293px;
height: auto;
position: fixed;
}
.caixasugestao{
    width: 100%;
    height: 400px;
    margin-top: 11px;
}
.sidebar{
    height: 9px;
    width: 100%;
}
.sugestao{
    display: flex;
    justify-content: space-between;
    height: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom:17px;
}
.sugestao :nth-child(1){
    width: 117px;
    color: #8E8E8E;
}
.sugestao :nth-child(2){
    width: 55px;
    color: #262626;
}
.perfissugeridos{
display: flex;
height: 32px;
margin-bottom: 17px;
}
.perfissugeridos img{
    margin-right: 11px;
}
.nomeperfilsugerido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nomeperfilsugerido :nth-child(1) {
    width: 162px;
    height: 14px;
    font-size: 14px;
    font-weight: 500;
}
.nomeperfilsugerido :nth-child(2){
    width: 143px;
    height: 11px;
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
}
.seguir{
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.seguir p{
    height: 11px;
    width: 36px;
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}
.avisoinstagram{
    margin-top: 15px;
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
}
.avisoinstagram :nth-child(1){
    height: 42px;
    margin-bottom: 18px;
}
.avisoinstagram :nth-child(2){
    height:14px;
}

.conteudosecundario{
    position: relative;
    width: 293px;
    margin-top: 100px;
}
.barrainferior{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    visibility: hidden;
}
@media (max-width:935px){
.conteudosecundario{
    display: none;
}
.cabecalho{
    display: flex; 
    justify-content: center;
    width: 100%;  
    height: 54px;
    border:1px solid #DBDBDB;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
    overflow: hidden;
}
.menu{
    width:100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    }
.logos{
width: 150px;
display: flex;
align-items: center;
margin-left: 15px;
}
.icones{
width: 150px;
display: flex;
justify-content: space-between;
margin-right: 15px;
}
.menupesquisar{
     width: 215px;
     height: 28px;
     border-width: 1px;
     border-style: solid;
     border-color: #dbdbdb;
     background-color: #FAFAFA;
     margin: 0;
     display: flex;
    }
.conteudocentral{
 width: 614px;
 overflow: hidden;
 margin-right: 0;
 }

.conteudo{
    margin: 0 auto;
    height: 1946px;
    width: 100%;
    display: flex;
    justify-content: center;
}
}
@media (max-width:614px){
    
.seta{
        display: none;
    }
.caixastory{
    background-color: transparent;
        height: 118px;
        width: 100%;
        margin-top: 54px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
.menu{
width: 100%;
display: flex; 
align-items: center;
justify-content: space-between;
}
.logos{
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}
.iconeinsta{
    color: black;
    margin-left: 0%;
    margin-right: 45%;
}
.barrainferior{
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: initial;
}
.conteudo{
    margin: 0 auto;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cabecalho{
    display: flex; 
    justify-content: center;
    width: 100%;  
    height: 54px;
    border:1px solid #DBDBDB;
    position: fixed;
    top:0;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
    overflow: hidden;
}
.separadorlogo{
    display: none;
}
.menupesquisar{
    display: none;
}
.icones{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.icones :nth-child(2){
    display: none;
}
.icones :nth-child(3){
    display: none;
}
.icones :nth-child(4){
    display: none;
}
.post{
    height: 750px;
    width: 100%;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
    }
 .conteudocentral{
margin-right: 0;
width: 614px;
overflow: hidden;
}
.imagempost img{
    width: 100%;
    height: 612px;
    margin-bottom: 13px;
}
.fundoicones :nth-child(4){
    margin-right: 10px;
    margin-left: 70vw;
}
}